body{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.932);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#c1{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}
p{
    color: #fff;
}